.nikoniko-chart {
    border-collapse: collapse;
    border: 0px;
}
.nikoniko-individuals {

}
.sentiment {
    width: 149px;
    background-color: black;
    border-color: black;
    padding: 5px;
}

.weekend {
    width: 50px;
}

.week-title {
    font-size: 3em;
}

.name {
    font-size: 2em;
}