body {
    background-color: #003;
}

.nikoniko-chart {
    border-collapse: collapse;
    border: 0px;
}
.nikoniko-individuals {

}
.sentiment {
    width: 149px;
    background-color: #ACF;
    padding: 5px;
}

.weekend {
    width: 50px;
}

.week-title {
    font-size: 4em;
    color: #CCC;
}

.name {
    font-size: 2.5em;
    color: #CCC;
    padding: 15px;
}